# Application
APP_NAME='Express API ES6 Starter'
APP_VERSION='1.0.0'
APP_PORT='8848'
APP_HOST='127.0.0.1'

# Log
LOGGING_DIR='logs'
LOGGING_LEVEL='debug'

# Database

DB_CLIENT='mongodb'
DB_PORT='27017'

DB_CONNECTION='mongodb://janusnic:ghbdtn1@ds163610.mlab.com:63610'
DB_NAME='janusnic'
DB_USER='janusnic'
DB_PASSWORD='ghbdtn1'

TZ = Europe/Kiev

SMTP_HOST = smtp.gmail.com
SMTP_PORT = 465
SMTP_USER = janusnic@gmail.com
SMTP_PASSWORD = egpifjiaqkndnisq

SENDGRID_API_KEY = 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
SEND_EMAILS_FROM = couchjanus@gmail.com

MAX_LOGIN_ATTEMPTS = 3
LOGIN_ATTEMPTS_LOCKOUT_HOURS = 2
MINIMUM_PASSWORD_LENGTH = 6
PASSWORD_RESET_TIME_LIMIT_IN_HOURS = 2
PASSWORD_HASH_ROUNDS = 2

TZ = Europe/London

GITHUB_CLIENT_ID =
GITHUB_CLIENT_SECRET =
LINKEDIN_CLIENT_ID =
LINKEDIN_CLIENT_SECRET =

TWITTER_CONSUMER_KEY = KjQTUCheXVlGfD0dNi7CiR11T

TWITTER_CONSUMER_SECRET = IwVtKmFLjavv9doWodA3ShwPm2Qe1KnTkM4k7hxAaGM4A34Vxp

FACEBOOK_CLIENT_ID = 896605267054808
FACEBOOK_CLIENT_SECRET = 28f6a7d2842d5f9ba19e449131694902

GOOGLE_CLIENT_ID = 262575533252-sviar9bm39g5c4dnlb6erkpvjme4hit2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 1K1fRgOmy1WJK4_Z8ycGRyuz

PUSHER_ID = 430057
PUSHER_KEY = 1aae17139b6f62752b02
PUSHER_SECRET = e5b2eb185327789a9405

# Test Environment
TEST_APP_PORT='9949'
TEST_DB_NAME='express_test'
