section.hero
    div.container
        h4 For Total N
            span 😎&nbsp;&nbsp;🤓&nbsp;&nbsp;&nbsp;&nbsp;bs
        h1(class="mystery-class" data-whatever="yoooo dude" data-hover-style="crazy" data-author-name="Nic the Noob" data-author-email="janusnic@gmail.cov") Learn NodeJS
