doctype html
html
    head
        meta(charset="utf-8")
        title!= title
    body
        h1!= message
        p.class Текст абзаца с классом class
        #id Блок div с идентификатором id
        h2!= tableCapture        
        table: tbody: tr
            td Текст первой ячейки
            td Текст второй ячейки
