doctype html
html
    head
        meta(charset="utf-8")
        title!= title
    body
        //-
            Комментарий виден только в шаблоне
            Это многострочный комментарий
        //
            Комментарий виден в Pug шаблоне и попадает в HTML
            Это многострочный комментарий

        h1!= message
        p.class Текст абзаца с классом class
        #id Блок div с идентификатором id
        p Sed ut perspiciatis, unde omnis
            | iste natus error sit
            | voluptatem accusantium doloremque
            | laudantium, totam rem aperiam
        p.
            Sed ut perspiciatis, unde omnis
            iste natus error sit
            voluptatem accusantium doloremque
            laudantium, totam rem aperiam

        div.className
            div.class2Name

        .className
            .class2Name

        p#idName.class1.class2 Объявление классов и модификаторов можно совмещать

        - var blockClasses = [class1, class2, class3]
        article(class = blockClasses) Pug позволяет передавать в атрибут class массив значений

