doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(rel="icon" href="/favicon.ico")
        title
            block title
        block styles
            include ./shared/styles
    body
        block header
            include ./shared/block-header        
        block content
        block footer
            include ./shared/block-footer        
        block scripts
