extends ../layouts/auth

block content
    .container
      .card.card-login.mx-auto.mt-5
        .card-header
          | Reset Password
        .card-body
          .text-center.mt-4.mb-5
            h4 Forgot your password?
            p
              | Enter your email address and we will send you instructions on how to reset your password.
          form
            .form-group
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
            a.btn.btn-primary.btn-block(href='/login') Reset Password
          .text-center
            a.d-block.small.mt-3(href='/signup') Register an Account
            a.d-block.small(href='/login') Login Page